<form class="row justify-content-center mt-5 fade-in-left"
      autocomplete="off"
      #form="ngForm"
      (ngSubmit)="guardar(form)">
  <div class="col-10 col-md-8 col-lg-6 col-xl-5">
    <label for="inputNombre" class="form-label mt-3">Nombre</label>
    <input type="text"
           class="form-control"
           [class.is-invalid]="nombre.invalid && nombre.touched"
           id="inputNombre"
           name="nombre"
           [ngModel]="usuario.nombre"
           #nombre="ngModel"
           minlength="5"
           required>
    <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback">
      El campo nombre no es válido.
    </div>
    <label for="inputApellido" class="form-label mt-3">Apellido</label>
    <input type="text"
           class="form-control"
           [class.is-invalid]="apellido.invalid && apellido.touched"
           id="inputApellido"
           name="apellido"
           [ngModel]="usuario.apellido"
           #apellido="ngModel"
           minlength="5"
           required>
    <div *ngIf="apellido.invalid && apellido.touched" class="invalid-feedback">
      El campo apellido no es válido.
    </div>
    <label for="selectPais" class="form-label mt-3">País</label>
    <select id="selectPais"
            name="pais"
            class="form-select"
            [class.is-invalid]="pais.invalid && pais.touched"
            [ngModel]="usuario.pais"
            #pais="ngModel"
            required>
      <option></option>
      <option *ngFor="let pais of paises" [value]="pais.codigo">
        {{pais.nombre}}
      </option>
    </select>
    <div *ngIf="pais.invalid && pais.touched" class="invalid-feedback">
      El campo país no es válido.
    </div>
    <label for="inputEmail" class="form-label mt-3">Email</label>
    <input type="email"
           class="form-control"
           [class.is-invalid]="email.invalid && email.touched"
           id="inputEmail"
           name="email"
           [ngModel]="usuario.email"
           #email="ngModel"
           pattern="^(([^<>()\[\]\\.,:\s@]+(\.[^<>()\[\]\\.,:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$"
           required>
    <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
      El campo email no es válido.
    </div>
    <label class="form-label mt-3 d-block">Género</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input"
             [class.is-invalid]="genero.invalid && genero.touched"
             [ngModel]="usuario.genero"
             #genero="ngModel"
             type="radio"
             name="genero"
             id="masculino"
             value="M">
      <label class="form-check-label" for="masculino">Masculino</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input"
             [class.is-invalid]="genero.invalid && genero.touched"
             [ngModel]="usuario.genero"
             #genero="ngModel"
             type="radio"
             name="genero"
             id="femenino"
             value="F">
      <label class="form-check-label" for="femenino">Femenino</label>
    </div>
    <div *ngIf="genero.invalid && genero.touched" class="invalid-feedback">
      El campo género no es válido.
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary bg-primary bg-gradient text-white mt-4 w-100">Guardar</button>
      </div>
    </div>
  </div>
</form>
